.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
  margin: 20px  auto;
}
table, th, td {
  border: 1px solid #cccccc;
}
th,td {
  padding: 10px;
}
th {
  color: #ffffff;
  background-color: #1e4f81;
}
label, input {
  padding: 8px;
}
label {
  font-weight: 700;
  color: #1e4f81;
}
input {
  margin-right: 10px;
}
button {
  background: #1e4f81;
  color: white;
  border: 0;
  padding: 10px;
}
.add-new-item-container {
  display: flex;
  justify-content: center;
  align-content: normal;
  padding: 20px;
  border: 1px solid #cccccc;
}
.add-new-item-box {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
